<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cursos de Aulas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

<header class="jumbotron text-center">
    <h1>Bem-vindo aos nossos Cursos de Aulas</h1>
    <p>Explore nossa variedade de cursos para aprimorar seus conhecimentos.</p>
    <a href="/Curso/Consulta" class="btn btn-primary">Ver Cursos</a>
  </header>

   <footer class="bg-dark text-white text-center py-4"> <!-- Ajuste py-4 para controlar a altura -->
    &copy; 2023 Cursos de Aulas
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>

